Repository LeanVibe/agent-hive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @system-automation, @admin-team, @security-team, @core-team, @documentation-team

📋 Update BACKLOG.md with current project status and recovery achievements
  BACKLOG.md
  backlog_sync_report.md
Owners: @system-automation

docs: fix links and align navigation from main
  README.md
  docs/INDEX.md
  docs/architecture/components.md
  docs/architecture/overview.md
  docs/getting-started/quick-start.md
  docs/guides/README.md
Owners: @documentation-team

Phase 2 kickoff: plan and gateway lifecycle improvements
  docs/PLAN.md
  external_api/api_gateway.py
Owners: @documentation-team

feat(cli): add persona flags; add observability command
  cli.py
  docs/PLAN.md
  external_api/api_gateway.py
  external_api/auth_middleware.py
  external_api/jwt_integration.py
  external_api/rate_limit_middleware.py
  security/auth_service.py
  security/rate_limiter.py
  security/token_manager.py
Owners: @documentation-team, @security-team

docs(cli): document persona flags and observability command
  docs/CLI_COMMANDS_AND_HOOKS_REFERENCE.md
Owners: @documentation-team

feat(security): complete Epic 2 core auth features
  .github/workflows/external_api_tests.yml
  external_api/api_gateway.py
  external_api/jwt_integration.py
  external_api/service_discovery.py
  external_api/service_discovery_api.py
  security/auth_service.py
Owners: @admin-team, @security-team

feat(observability): add optional tracing with no-op fallback
  external_api/api_gateway.py
Owners: none

feat(observability): add optional tracing to discovery, lb, streaming
  external_api/event_streaming.py
  external_api/load_balancer.py
  external_api/service_discovery.py
  external_api/trace_utils.py
Owners: none

ci: stabilize test collection and docs updates
  .claude/orchestrator.py
  .claude/state/__init__.py
  .claude/state/state_manager.py
  .gitignore
  docs/PLAN.md
  docs/PROMPT.md
  docs/api/gateway_service_routing_examples.md
  docs/ci/external_api_tests.md
  external_api/api_gateway.py
  external_api/auth_middleware.py
  external_api/circuit_breaker.py
  external_api/jwt_integration.py
  external_api/models.py
  external_api/monitoring_system.py
  external_api/service_registry.py
  performance_monitor.py
  pytest.ini
  security/auth_service.py
  tests/external_api/helpers/aiohttp_mocks.py
  tests/security/test_jwt_introspection.py
Owners: @documentation-team, @security-team

chore(security): ignore local PEMs for nginx dev setup
  .gitignore
Owners: none

chore(security): remove tracked PEM dev certs from repo
  infrastructure/nginx/ssl/cert.pem
  infrastructure/nginx/ssl/key.pem
Owners: none

ci: stabilize tests and security hooks; docs updates (#578)
  .claude/orchestrator.py
  .claude/state/__init__.py
  .claude/state/state_manager.py
  .github/workflows/external_api_tests.yml
  .gitignore
  README.md
  cli.py
  docs/CLI_COMMANDS_AND_HOOKS_REFERENCE.md
  docs/INDEX.md
  docs/PLAN.md
  docs/PROMPT.md
  docs/api/gateway_service_routing_examples.md
  docs/architecture/components.md
  docs/architecture/overview.md
  docs/ci/external_api_tests.md
  docs/getting-started/quick-start.md
  docs/guides/README.md
  external_api/api_gateway.py
  external_api/auth_middleware.py
  external_api/circuit_breaker.py
  external_api/event_streaming.py
  external_api/jwt_integration.py
  external_api/load_balancer.py
  external_api/models.py
  external_api/monitoring_system.py
  external_api/rate_limit_middleware.py
  external_api/service_discovery.py
  external_api/service_discovery_api.py
  external_api/service_registry.py
  external_api/trace_utils.py
  infrastructure/nginx/ssl/cert.pem
  infrastructure/nginx/ssl/key.pem
  performance_monitor.py
  pytest.ini
  security/auth_service.py
  security/rate_limiter.py
  security/token_manager.py
  tests/external_api/helpers/aiohttp_mocks.py
  tests/security/test_jwt_introspection.py
Owners: @admin-team, @documentation-team, @security-team

feat(auth): add auth endpoints flow test and fix gateway routing
  external_api/api_gateway.py
  external_api/service_discovery.py
  pytest.ini
  tests/external_api/test_auth_endpoints.py
Owners: none

feat(security): jwt blacklist + api keys
  external_api/api_gateway.py
  external_api/jwt_integration.py
  security/token_manager.py
  tests/external_api/test_auth_security_flows.py
Owners: @security-team

feat(auth): OAuth2 client credentials endpoint + tests
  external_api/api_gateway.py
  tests/external_api/test_oauth_client_credentials.py
Owners: none

feat(envoy,tests): Envoy exporter + tracing header test
  external_api/envoy_exporter.py
  tests/external_api/test_envoy_exporter.py
  tests/external_api/test_tracing_basic.py
Owners: none

feat(observability): traceparent propagation
  external_api/api_gateway.py
  external_api/trace_utils.py
  tests/external_api/test_traceparent_propagation.py
Owners: none

chore(metrics): lifecycle helpers for metrics collector
  performance/metrics_collector.py
Owners: none

feat(timezone): use timezone-aware datetimes in external_api
  external_api/api_gateway.py
  external_api/auth_middleware.py
  external_api/circuit_breaker.py
  external_api/database_models.py
  external_api/jwt_integration.py
  external_api/load_balancer.py
  external_api/rate_limit_middleware.py
  external_api/rbac_endpoints.py
  external_api/rbac_endpoints_simple.py
  external_api/redis_cache_integration.py
  external_api/service_registry.py
  external_api/time_utils.py
Owners: none

ci(imports): stabilize test collection across repo
  .claude/logs/errors.log
  .claude/logs/leanvibe.log
  .claude/state/state_manager.py
  .gitignore
  config/config_loader.py
  docs/PLAN.md
  docs/PROMPT.md
  pytest.ini
  sitecustomize.py
  tests/conftest.py
  tests/security/conftest.py
Owners: @documentation-team, @security-team

docs(roadmap): add next 4 epics with must-haves and slices
  docs/PLAN.md
Owners: @documentation-team

feat(security): add in-memory token-id blacklist and revoke-on-rotation
  security/auth_service.py
  security/token_manager.py
Owners: @security-team

docs(epic2): add sprint plan and handoff prompt updates
  docs/PLAN.md
  docs/PROMPT.md
Owners: @documentation-team

docs: add production readiness documentation
  docs/DEPLOYMENT_CHECKLIST.md
  docs/PLAN.md
  docs/PRODUCTION_READINESS_REPORT.md
  docs/active-context.md
  docs/production_readiness_metrics.json
  docs/progress.md
  docs/project-brief.md
  scripts/verify_production_readiness.py
Owners: @documentation-team

chore: add quality_metrics to gitignore
  .gitignore
Owners: none

.github/CODEOWNERS:

# CODEOWNERS - Protect Critical Files
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Critical operational files - require system automation team approval
BACKLOG.md @system-automation
.claude/memory/ @system-automation
scripts/backlog_sync.py @system-automation
scripts/agent_manager.py @system-automation

# Configuration files - require admin approval  
.github/ @admin-team
docker-compose*.yml @admin-team
.quality-gates.json @admin-team

# Security-related files - require security team approval
security/ @security-team
.bandit @security-team
.pre-commit-config.yaml @security-team

# Core system files - require core team approval
agent_hive_cli.py @core-team
agent_coordination_protocols.py @core-team
agent_registry.db @core-team

# Documentation that affects user experience - require documentation team approval
README.md @documentation-team
docs/ @documentation-team
ROADMAP.md @documentation-team
